@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,250&display=swap');

body {
    margin: 0;
}

.main {
    font-family: Roboto, sans-serif;
}

.one-session,
.footer {
    background-color: #000000;
    color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10% 0 10%;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 30px;
    padding: 30px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.content-header {
    display: flex;
    align-items: center;
    margin: 0 8% 0 10%;
}

.title-left-content-header {
    font-size: 48px;
    font-weight: bolder;
}

.signup-button {
    background: #042c5c;
    color: #ffffff;
    border: 1px solid #042c5c;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}

.some-players {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-some-players {
    font-size: 36px;
    font-weight: bolder;
}

.players {
    display: flex;
    gap: 60px;
}

.one-player,
.two-player,
.three-player,
.four-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.three-session {
    display: flex;
    flex-direction: column;
    background-color: #afbccb;
}

.quote-three-session {
    display: flex;    
    justify-content: center;
    font-family: Raleway, sans-serif;
    font-size: 36px;
    font-style: italic;
}

.author-three-session {
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    font-weight: bold;
}

.four-session {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #042c5c;
    width: 60%;
    border-radius: 10px;
    padding: 20px 10% 20px 10%;
    margin: 5%;
    color: #ffffff;
}

.left-side-container
.title {
    font-size: 18px;
    font-weight: bold;
}

.right-side-container button {
    background: #042c5c;
    color: #ffffff;
    border: 1px solid #042c5c;
    padding: 8px 16px;
    margin-left: 50%;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    border-color: #ffffff;
    border-width: 2px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #ffffff;
}